In [12]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split

import tensorflow as tf
from tensorflow.keras.layers import LSTM,Dense,Input,GlobalMaxPool1D,Embedding
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences
from tensorflow.keras.optimizers import Adam,SGD
from tensorflow.keras.models import Model

In [3]:
df = pd.read_csv('/Users/akashzamnani/datasets/NLP/spam.csv',encoding='ISO-8859-1')

In [4]:
df.head()

     v1  ... Unnamed: 4
0   ham  ...        NaN
1   ham  ...        NaN
2  spam  ...        NaN
3   ham  ...        NaN
4   ham  ...        NaN

[5 rows x 5 columns]

In [5]:
df = df.drop(['Unnamed: 2','Unnamed: 3','Unnamed: 4'],axis=1)

In [6]:
df.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [7]:
df.columns = ['label','data']

In [8]:
df['b_label'] = df['label'].map({'ham':0,'spam':1})

In [9]:
df.head()

  label                                               data  b_label
0   ham  Go until jurong point, crazy.. Available only ...        0
1   ham                      Ok lar... Joking wif u oni...        0
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...        1
3   ham  U dun say so early hor... U c already then say...        0
4   ham  Nah I don't think he goes to usf, he lives aro...        0

In [10]:
Y = df.b_label.values

In [13]:
df_train,df_test,y_train,y_test = train_test_split(df['data'],Y,test_size=.33)

In [14]:
MAX = 20000
tokenizer = Tokenizer()
tokenizer.fit_on_texts(df_train)
sequence_train = tokenizer.texts_to_sequences(df_train)

sequence_test = tokenizer.texts_to_sequences(df_test)

In [18]:
word2idx = tokenizer.word_index
K = len(word2idx)

In [19]:
data_train = pad_sequences(sequence_train)
data_train.shape

(3733, 189)

In [32]:
T = data_train.shape[1]
T

189

In [33]:
data_test = pad_sequences(sequence_test,maxlen=T)

In [34]:
D = 30

M = 32

i = Input(shape=(T,))
x = Embedding(K+1,D)(i)
x = LSTM(M,return_sequences=True)(x)
x = GlobalMaxPool1D()(x)
x = Dense(1,activation='sigmoid')(x)

model = Model(i,x)

model.compile(loss='binary_crossentropy',metrics=['accuracy'],optimizer='Adam')

r = model.fit(data_train,y_train,validation_data=(data_test,y_test),epochs=10)

Epoch 1/10
117/117 ━━━━━━━━━━━━━━━━━━━━ 4s 29ms/step - accuracy: 0.8255 - loss: 0.4577 - val_accuracy: 0.9543 - val_loss: 0.1885
Epoch 2/10
117/117 ━━━━━━━━━━━━━━━━━━━━ 3s 29ms/step - accuracy: 0.9733 - loss: 0.1511 - val_accuracy: 0.9810 - val_loss: 0.0922
Epoch 3/10
117/117 ━━━━━━━━━━━━━━━━━━━━ 3s 29ms/step - accuracy: 0.9920 - loss: 0.0597 - val_accuracy: 0.9853 - val_loss: 0.0685
Epoch 4/10
117/117 ━━━━━━━━━━━━━━━━━━━━ 3s 29ms/step - accuracy: 0.9966 - loss: 0.0333 - val_accuracy: 0.9880 - val_loss: 0.0623
Epoch 5/10
117/117 ━━━━━━━━━━━━━━━━━━━━ 3s 29ms/step - accuracy: 0.9953 - loss: 0.0274 - val_accuracy: 0.9869 - val_loss: 0.0632
Epoch 6/10
117/117 ━━━━━━━━━━━━━━━━━━━━ 3s 29ms/step - accuracy: 0.9994 - loss: 0.0140 - val_accuracy: 0.9869 - val_loss: 0.0636
Epoch 7/10
117/117 ━━━━━━━━━━━━━━━━━━━━ 3s 29ms/step - accuracy: 0.9993 - loss: 0.0123 - val_accuracy: 0.9880 - val_loss: 0.0613
Epoch 8/10
117/117 ━━━━━━━━━━━━━━━━━━━━ 3s 29ms/step - accuracy: 0.9992 - loss: 0.0105 - val_accuracy: 0.9842 - val_loss: 0.0665
Epoch 9/10
117/117 ━━━━━━━━━━━━━━━━━━━━ 3s 29ms/step - accuracy: 0.9985 - loss: 0.0104 - val_accuracy: 0.9875 - val_loss: 0.0624
Epoch 10/10
117/117 ━━━━━━━━━━━━━━━━━━━━ 3s 29ms/step - accuracy: 0.9998 - loss: 0.0056 - val_accuracy: 0.9864 - val_loss: 0.0643